
    
    /* MEDIA QUERIES - RESPONSIVIDADE */
    
    /* Tablets */
    @media (max-width: 1024px) {
      h1 {
        font-size: 2.2rem;
      }
      
      h2 {
        font-size: 3rem;
      }
      
      h3 {
        font-size: 1.6rem;
      }
      
      p {
        font-size: 1rem;
      }
      
      .principal li {
        margin: 0 1rem;
      }
    }
    
    /* Tablets pequenos e smartphones grandes */
    @media (max-width: 768px) {
      body {
        font-size: 14px;
      }
      
      h1 {
        font-size: 1.9rem;
      }
      
      h2 {
        font-size: 2.5rem;
      }
      
      h3 {
        font-size: 1.4rem;
      }
      
      p {
        font-size: 0.95rem;
        text-align: left;
        padding: 0 1rem;
      }
      
      section {
        margin: 1.8rem 0;
      }
      
      header {
        padding: 1.2rem;
      }
      
      .principal ul {
        flex-direction: column;
        gap: 0.8rem;
      }
      
      .principal li {
        margin: 0.5rem 0;
      }
      
      .texto-branco {
        font-size: 1.1rem;
      }
      
      .video-grid {
        grid-template-columns: 1fr;
        gap: 15px;
      }
      
      #banda {
        gap: 1rem;
      }
      
      #banda figure {
        flex: 1 1 150px;
      }

      .fim figure img{
        width: 25%;
      }
    }
    
    /* Smartphones */
    @media (max-width: 480px) {
      h1 {
        font-size: 1.7rem;
      }
      
      h2 {
        font-size: 2rem;
      }
      
      h3 {
        font-size: 1.3rem;
      }
      
      p {
        font-size: 0.9rem;
        padding: 0 0.5rem;
      }
      
      header {
        padding: 1rem;
      }
      
      .principal {
        padding: 0.8rem 0;
      }
      
      .texto-branco {
        font-size: 1rem;
      }
      
     /* .inferior ul {
        flex-direction: column;
        gap: 0.5rem;
      }*/
      
      .video-info h3 {
        font-size: 1.1rem;
      }
      
      .video-info p {
        font-size: 0.8rem;
      }
      
      #banda {
        flex-direction: column;
        align-items: center;
      }
      
      #banda figure {
        max-width: 100%;
        margin-bottom: 1rem;
      }
    }

    /*footer*/

    @media (max-width: 768px) {
    .social-icons a {
        width: 50px;
        height: 50px;
    }
    
    .social-icons img {
        width: 26px;
        height: 26px;
    }
    
    .logo-container img {
        max-width: 140px;
    }}

    @media (max-width: 480px) {
       .footer-nav {
        flex-direction: column;
    }
    
    .social-icons a {
        width: 44px;
        height: 44px;
    }
    
    .social-icons img {
        width: 22px;
        height: 22px;
    }
    
    .logo-container img {
        max-width: 120px;
    }}