 header{
  color:#BA4432;
 }
 
 body{
  text-align:center;
  font-family:Open Sans,sans-serif;
  background-color:#b48f89;
  color:#BA4432;
  margin:0px auto 30px;}

h1{color:#34495e; font-size:40px;}

.titulo-verde{color:#04ff9f;}
.titulo-rosa{color:#ff9e9e;}
.titulo-amarelo{color:#ffe36d;}

main{margin:0 auto; width:60%;}

img{width:100%;}
figcaption{font-size:20px;}

h2{font-size:85px; font-weight:normal;}
h3{font-size:22px; font-style:italic; color: #34495e;}
p{font-size:20px; line-height:1,5}

ul{list-style-type:none; 
padding-left:0; line-height:2;}

 a{text-decoration:none;font-weight:700;
 color:#99ffff;}

.texto-branco{color:#ffffff;
text-decoration:underline; font-weight:normal; font-stretch:40px;

}
.principal{background-color:#a77c91;
width:60%; margin:0 auto;
}
.principal li{line-height:1.5; margin:2px 89px; max-width:60%; display:inline-block;}

.inferior ul{margin:0  auto; width: 60%;}

button{background-color:#41f341; border:1px solid transparent;padding:2px 20px;border-radius: 3px;}

a:hover{color:royalblue}